.post-info {
  padding: 20px 0 30px;
  margin: 20px 0 5px;
}

.post-content {
  line-height: 1.75;
  padding-bottom: 50px;

  h1, h3, code, pre {
    padding: 10px 0;
  }

  h2 {
    padding: 20px 0;
  }
}
